<h1>New Assignment</h1>

<p> Hi <%= @user.name %></p>

<p>A new assignment has been availed. Please check your dashboard and do it 
to avoid penalties.
</p>

<p>regards,</p>

<p>Interactive Platform team</p>
