// Place all the styles related to the FixedPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

.backg {
  background-image: image-url('home-bg.png');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 500px;

}

h1 {
  color: blue;
}

.backg .btn{
  margin-left: 250px;
  margin-top: 150px;
}

.signup, .login {
  padding: 15px;
  margin: 15px;
  width: 100px;
}
