<% provide(:title, "Help") %>
<div class="helpp">
  <div class="col-md-8 col-md-offset-3">
    <h3>Welcome to 'My Platform'</h3>
    <p>Here you get to Interact with your lecturers and fellow coursemates</p>
    <p>Below are some of the most frequently asked questions</p>
    <p>
    <strong>How does the platform combine interaction with both lectures and students?</strong>
    </p>
    <ul>
      <li><strong>Feedbacks</strong></li>
      <p>Only a lecturer is allowed to view the students' 
      feedbacks.This is to ensure confidentiality. From the feedback. A lecturer is able to understand the student's weaknesses and act accordingly.</p>
      <li><strong>Queries</strong></li>
      <p>This is open to everyone using the portal. Anyone can ask a question and the users of the platform can answer those questions.</p>
    </ul>
    <p><strong>What else does the platform have to offer except the interaction part?</strong></p>
    <p>Assignments</p>
    <p>Students are notified via email when an assignment is availed. On the dashboard there is a progress bar to help the keep track of the time remaining for the assignment to be submitted.</p>
  </div>
</div>
